<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="FirefoxTest">
  <parameter name = "browser" value = "Firefox" />
  <parameter name="FirstName" value="Praveen"/>
  <parameter name="SurName" value="Naidu"/>
    <classes>
      <class name="com.freecrm.testcases.ContactsTest"/>
    </classes>
    </test>
   <test name="IETest">
  <parameter name="browser" value = "ie"/>
  <parameter name="FirstName" value="Praveen"/>
  <parameter name="SurName" value="Naidu"/>
  
    <classes>
      <class name="com.freecrm.testcases.ContactsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
